In [2]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [46]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

### How many movies are listed in the titles dataframe?

In [47]:
titles['title'].value_counts().sum()

232330

### What are the earliest two films listed in the titles dataframe?

In [48]:
titles.sort_values(by=['year']).head(2)

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [64]:
filter_hamlet = (titles['title'] == 'Hamlet')
titles[filter_hamlet]['title'].count()

18

### How many movies are titled "North by Northwest"?

In [63]:
filter_north = (titles['title'] == 'North by Northwest')
titles[filter_north]['title'].count()

1

### When was the first movie titled "Hamlet" made?

In [59]:
titles[filter_hamlet].sort_values(by='year').head(1)

        title  year
46721  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [60]:
filter_treasureisland = (titles['title'] == 'Treasure Island')
titles[filter_treasureisland].sort_values(by='year')

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [62]:
filter_1950 = (titles['year'] == 1950)
titles[filter_1950]['title'].count()

1099

### How many movies were made in the year 1960?

In [65]:
filter_1960 = (titles['year'] == 1960)
titles[filter_1960]['title'].count()

1501

### How many movies were made from 1950 through 1959?

In [66]:
filter_50to59 = (titles['year'] >= 1950) & (titles['year'] <= 1959)
titles[filter_50to59]['title'].count()

12711

### In what years has a movie titled "Batman" been released?

In [70]:
filter_batman = titles['title'] == 'Batman'
titles[filter_batman]['year']

56000    1989
74608    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [71]:
cast = pd.read_csv('data/cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [74]:
filter_inception = cast['title'] == 'Inception'
cast[filter_inception]['type'].count()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [80]:
filter_inception = (cast['title'] == 'Inception') & (cast['n'].isnull())
cast[filter_inception]['type'].count()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [82]:
filter_inception = (cast['title'] == 'Inception') & (cast['n'] > 0)
cast[filter_inception]['type'].count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [90]:
filter_north = (cast['title'] == 'North by Northwest') & (cast['n'] > 0)
cast[filter_north].sort_values(by='n')

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [91]:
filter_sleuth = (cast['title'] == 'Sleuth') & (cast['year'] == 1972) & (cast['n'] > 0)
cast[filter_sleuth].sort_values(by='n')

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [92]:
filter_sleuth = (cast['title'] == 'Sleuth') & (cast['year'] == 2007) & (cast['n'] > 0)
cast[filter_sleuth].sort_values(by='n')

          title  year           name   type    character    n
316653   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1254632  Sleuth  2007       Jude Law  actor         Milo  2.0
1751872  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [95]:
filter_hamlet = (cast['title'] == 'Hamlet') & (cast['year'] == 1921) & (cast['n'] > 0)
cast[filter_hamlet]['type'].count()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [96]:
filter_hamlet = (cast['title'] == 'Hamlet') & (cast['year'] == 1996) & (cast['n'] > 0)
cast[filter_hamlet]['type'].count()

46

### How many "Hamlet" roles have been listed in all film credits through history?

In [97]:
filter_hamlet = (cast['title'] == 'Hamlet') & (cast['n'] > 0)
cast[filter_hamlet]['type'].count()

248

### How many people have played an "Ophelia"?

In [99]:
filter_ophelia = cast['character'] == 'Ophelia'
cast[filter_ophelia].count()

title        111
year         111
name         111
type         111
character    111
n             59
dtype: int64

### How many people have played a role called "The Dude"?

In [100]:
filter_dude = cast['character'] == 'The Dude'
cast[filter_dude].count()

title        18
year         18
name         18
type         18
character    18
n            12
dtype: int64

### How many people have played a role called "The Stranger"?

In [101]:
filter_stranger = cast['character'] == 'The Stanger'
cast[filter_stranger].count()

title        0
year         0
name         0
type         0
character    0
n            0
dtype: int64

### How many roles has Sidney Poitier played throughout his career?

In [105]:
filter_poitier = cast['name'] == 'Sidney Poitier'
cast[filter_poitier]['type'].count()

43

### How many roles has Judi Dench played?

In [106]:
filter_dench = cast['name'] == 'Judi Dench'
cast[filter_dench]['type'].count()

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [108]:
filter_grant = (cast['name'] == 'Cary Grant') & (cast['year'] >= 1940) & (cast['year'] <= 1949) & (cast['n'] == 2)
cast[filter_grant].sort_values(by='year')

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [109]:
filter_grant = (cast['name'] == 'Cary Grant') & (cast['year'] >= 1940) & (cast['year'] <= 1949) & (cast['n'] == 1)
cast[filter_grant].sort_values(by='year')

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [112]:
filter_actors = (cast['type'] == 'actor') & (cast['year'] >= 1950) & (cast['year'] <= 1959)
cast[filter_actors].count()

title        155058
year         155058
name         155058
type         155058
character    155058
n             81041
dtype: int64

### How many roles were avilable for actresses in the 1950s?

In [113]:
filter_actress = (cast['type'] == 'actress') & (cast['year'] >= 1950) & (cast['year'] <= 1959)
cast[filter_actress].count()

title        56412
year         56412
name         56412
type         56412
character    56412
n            35065
dtype: int64

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [117]:
filter_lead = (cast['n'] == 1) & (cast['year'] <= 1980)
cast[filter_lead]['n'].count()

64095

### How many non-leading roles were available through from the beginning of film history through 1980?

In [118]:
filter_nonlead = (cast['n'] > 1) & (cast['year'] <= 1980)
cast[filter_nonlead]['n'].count()

658350

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [122]:
filter_norank = (cast['n'].isnull()) & (cast['year'] <= 1980)
cast[filter_norank]['character'].count()

439134