# Date and Time in Python
Python has a module named datetime to work with dates and times. Let's create a few simple programs related to date and time before we dig deeper.
* `datetime` – Allows us to manipulate times and dates together (month, day, year, hour, second, microsecond).
* `date` – Allows us to manipulate dates independent of time (month, day, year).
* `time` – Allows us to manipulate time independent of date (hour, minute, second, microsecond).
* `timedelta` — A duration of time used for manipulating dates and measuring.
* `tzinfo` — An abstract class for dealing with time zones.

Online Resources: https://www.programiz.com/python-programming/datetime and https://www.dataquest.io/blog/python-datetime-tutorial/

## Create Date Objects
Since `datetime` is both a module and a class within that module, we’ll start by importing the `datetime` class from the `datetime` module.

In [1]:
# import datetime class from datetime module
from datetime import datetime

# get current date
datetime_object = datetime.now()
print(datetime_object)
print('Type :- ',type(datetime_object))

2021-06-02 16:22:48.607193
Type :-  <class 'datetime.datetime'>

## Handling Date and Time String - `strptime()` and `strftime()`
`strptime()` can read strings with date and time information and convert them to datetime objects, and `strftime()` converts datetime objects back into strings.

In [2]:
my_string = '2019-10-31'

# Create date object in given time format yyyy-mm-dd
my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)
print('Type: ',type(my_date))

2019-10-31 00:00:00
Type:  <class 'datetime.datetime'>

In [3]:
print('Month: ', my_date.month) # To Get month from date
print('Year: ', my_date.year) # To Get month from year

Month:  10
Year:  2019

<img src='images/strptime.png'>

In [14]:
# current date and time
now = datetime.now()

# get year from date
year = now.strftime("%Y")
print("Year:", year)

# get month from date
month = now.strftime("%m")
print("Month;", month)

# get day from date
day = now.strftime("%d")
print("Day:", day)

# format time in HH:MM:SS
time = now.strftime("%H:%M:%S")
print("Time:", time)

# format date
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("Date and Time:",date_time)

Year: 2021
Month; 06
Day: 02
Time: 16:33:30
Date and Time: 06/02/2021, 16:33:30

## Getting Day of the Month and Day of the Week from a Date
Datetime will give us the day of the week as a number using its `.weekday()` function, but we can convert this to a text format (i.e. Monday, Tuesday, Wednesday…) using the `calendar` module and a method called `day_name`

In [4]:
# import calendar module
import calendar
print('Day of Month:', my_date.day)

# to get name of day(in number) from date
print('Day of Week (number): ', my_date.weekday())

# to get name of day from date
print('Day of Week (name): ', calendar.day_name[my_date.weekday()])

Day of Month: 31
Day of Week (number):  3
Day of Week (name):  Thursday

## Getting Hours and Minutes From a Python Datetime Object
Much like what we did above with month and year, we can use class attributes `.hour` and `.minute` to get the hours and minutes of the day. Let’s set a new date and time using the `.now()` function.

In [6]:
from datetime import datetime
todays_date = datetime.now()

# to get hour from datetime
print('Hour: ', todays_date.hour)

# to get minute from datetime
print('Minute: ', todays_date.minute)

Hour:  16
Minute:  27

## Getting Week of the Year from a Datetime Object
We can get the year, week of the year, and day of the week from a `datetime` object with the `.isocalendar()` function.

In [7]:
# Return a 3-tuple, (ISO year, ISO week number, ISO weekday).
todays_date.isocalendar()

(2021, 22, 3)

In [8]:
todays_date.isocalendar()[1]

22

## Measuring Time Span with Timedelta Objects
Often, we may want to measure a span of time, or a duration, using Python `datetime`. We can do this with its built-in `timedelta` class. A `timedelta` object represents the amount of time between two dates or times. We can use this to measure time spans, or manipulate dates or times by adding and subtracting from them, etc.

In [9]:
#import datetime
from datetime import timedelta
# create timedelta object with difference of 2 weeks
d = timedelta(weeks=2)

print(d)
print(type(d))
print(d.days)

14 days, 0:00:00
<class 'datetime.timedelta'>
14

In [10]:
year = timedelta(days=365)
print(year)

365 days, 0:00:00

Now let’s start doing using timedelta objects together with datetime objects to do some math! Specifically, let’s add a few diffeent time durations to the current time and date to see what date it will be after 15 days, what date it was two weeks ago.

To do this, we can use the `+` or `-` operators to add or subtract the timedelta object to/from a datetime object. The result will be the datetime object plus or minus the duration of time specified in our timedelta object.

In [11]:
#import datetime
from datetime import datetime, timedelta
# get current time
now = datetime.now()
print ("Today's date: ", str(now))

#add 15 days to current date
future_date_after_15days = now + timedelta(days = 15)
print('Date after 15 days: ', future_date_after_15days)

#subtract 2 weeks from current date
two_weeks_ago = now - timedelta(weeks = 2)
print('Date two weeks ago: ', two_weeks_ago)
print('two_weeks_ago object type: ', type(two_weeks_ago))

Today's date:  2021-06-02 16:30:01.330196
Date after 15 days:  2021-06-17 16:30:01.330196
Date two weeks ago:  2021-05-19 16:30:01.330196
two_weeks_ago object type:  <class 'datetime.datetime'>

## Find the Difference Between Two Dates and Times
Here, we’ll create two `date` objects (remeber, these work the same as `datetime` objects, they just don’t include time data) and subtract one from the other to find the duration:

In [12]:
# import datetime
from datetime import date
# Create two dates
date1 = date(2008, 8, 18)
date2 = date(2008, 8, 10)

# Difference between two dates
delta = date2 - date1
print("Difference: ", delta.days)
print('delta object type: ', type(delta))

Difference:  -8
delta object type:  <class 'datetime.timedelta'>

In [13]:
# import datetime
from datetime import datetime
# create two dates with year, month, day, hour, minute, and second
date1 = datetime(2017, 6, 21, 18, 25, 30)
date2 = datetime(2017, 5, 16, 8, 21, 10)

# Difference between two dates
diff = date1-date2
print("Difference: ", diff)

Difference:  36 days, 10:04:20

## Handling Timezones
Working with dates and times in Python can get even more complicated when timezones get involved. Thankfully, the `pytz` module exists to help us deal with cross-timezone conversions. It also handles the daylight savings time in locations that use that.

We can use the `localize` function to add a time zone location to a Python `datetime` object. Then we can use the function `astimezone()` to convert the existing local time zone into any other time zone we specify (it takes the time zone we want to convert into as an argument).

In [18]:
# import timezone from pytz module
from pytz import timezone
# Create timezone US/Eastern
east = timezone('US/Eastern')
# Localize date
loc_dt = east.localize(datetime(2011, 11, 2, 7, 27, 0))
print('US/Eastern\t\t', loc_dt)

# Convert localized date into Asia/Kolkata timezone
kolkata = timezone("Asia/Kolkata")
print("Asia/Kolkata\t\t", loc_dt.astimezone(kolkata))

# Convert localized date into Australia/Sydney timezone
au_tz = timezone('Australia/Sydney')
print('Australia/Sydney\t', loc_dt.astimezone(au_tz))

US/Eastern		 2011-11-02 07:27:00-04:00
Asia/Kolkata		 2011-11-02 16:57:00+05:30
Australia/Sydney	 2011-11-02 22:27:00+11:00

## Working with `pandas Datetime` Objects
We can convert date, time, and duration text strings into pandas Datetime objects using these functions:
* `to_datetime()`: Converts string dates and times into Python datetime objects.
* `to_timedelta()`: Finds differences in times in terms of days, hours, minutes, and seconds.

In [19]:
# import pandas module as pd
import pandas as pd
# create date object using to_datetime() function
date = pd.to_datetime("8th of sep, 2019")
print(date)

2019-09-08 00:00:00

We can also use pandas (and some of its affiliated numpy functionality) to create date ranges automatically as pandas Series.

In [21]:
import numpy as np
# Create date series using numpy and to_timedelta() function
date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)

# Create date series using date_range() function
date_series = pd.date_range('08/10/2019', periods = 12, freq ='D')
print(date_series)

DatetimeIndex(['2019-09-08', '2019-09-09', '2019-09-10', '2019-09-11',
               '2019-09-12', '2019-09-13', '2019-09-14', '2019-09-15',
               '2019-09-16', '2019-09-17', '2019-09-18', '2019-09-19'],
              dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21'],
              dtype='datetime64[ns]', freq='D')

## Get Year, Month, Day, Hour, Minute in pandas
We can easily get year, month, day, hour, or minute from dates in a column of a pandas dataframe using `dt` attributes for all columns. For example, we can use `df['date'].dt.year` to extract only the year from a pandas column that includes the full date.

In [22]:
# Create a DataFrame with one column date
df = pd.DataFrame()
df['date'] = date_series 
df.head()

        date
0 2019-08-10
1 2019-08-11
2 2019-08-12
3 2019-08-13
4 2019-08-14

In [23]:
# Extract year, month, day, hour, and minute. Assign all these date component to new column.
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df.head()

        date  year  month  day  hour  minute
0 2019-08-10  2019      8   10     0       0
1 2019-08-11  2019      8   11     0       0
2 2019-08-12  2019      8   12     0       0
3 2019-08-13  2019      8   13     0       0
4 2019-08-14  2019      8   14     0       0

## Get Weekday and Day of Year
Pandas is also capable of getting other elements, like the day of the week and the day of the year, from its datetime objects. Again, we can use `dt` attributes to do this. Note that here, as in Python generally, the week starts on Monday at index 0, so day of the week 5 is Saturday.

In [28]:
# get Weekday and Day of Year. Assign all these date component to new column.
df['weekday'] = df['date'].dt.weekday
df['day_name'] = df['date'].dt.day_name()
df['dayofyear'] = df['date'].dt.dayofyear
df.head()

        date  year  month  day  hour  minute  weekday   day_name  dayofyear
0 2019-08-10  2019      8   10     0       0        5   Saturday        222
1 2019-08-11  2019      8   11     0       0        6     Sunday        223
2 2019-08-12  2019      8   12     0       0        0     Monday        224
3 2019-08-13  2019      8   13     0       0        1    Tuesday        225
4 2019-08-14  2019      8   14     0       0        2  Wednesday        226

## Convert Date Object into DataFrame Index
We can also use pandas to make a datetime column into the index of our DataFrame. This can be very helpful for tasks like exploratory data visualization, because matplotlib will recognize that the DataFrame index is a time series and plot the data accordingly.

To do this, all we have to do is redefine `df.index`:

In [29]:
# Assign date column to dataframe index
df.index = df.date
df.head()

,date,year,month,day,hour,minute,weekday,day_name,dayofyear
date,,,,,,,,,
2019-08-10,2019-08-10,2019,8,10,0,0,5,Saturday,222
2019-08-11,2019-08-11,2019,8,11,0,0,6,Sunday,223
2019-08-12,2019-08-12,2019,8,12,0,0,0,Monday,224
2019-08-13,2019-08-13,2019,8,13,0,0,1,Tuesday,225
2019-08-14,2019-08-14,2019,8,14,0,0,2,Wednesday,226

# Exercise

In [30]:
from datetime import datetime

print:
* a) Current date and time
* b) Current year
* c) Month of year
* d) Week number of the year
* e) Weekday of the week
* f) Day of year
* g) Day of the month
* h) Day of week

In [32]:
now = datetime.now()
print("Current date and time: ", now.strftime("%Y:%m:%d, %H:%M:%S"))
print("Current year: ", now.strftime("%Y"))
print("Month of year: ", now.strftime("%m, %B"))
print("Week number of the year: ", now.strftime("%U"))
print("Weekday of the week: ", now.strftime("%A"))
print("Day of year: ", now.strftime("%j"))
print("Day of the month: ", now.strftime("%d"))
print("Day of week: ", now.strftime("%A"))

Current date and time:  2021:06:02, 17:06:39
Current year:  2021
Month of year:  06, June
Week number of the year:  22
Weekday of the week:  Wednesday
Day of year:  153
Day of the month:  02
Day of week:  Wednesday

* convert a string to datetime
* string = 'Jan 1 2014 2:43PM'

In [33]:
dt_string = 'Jan 1 2014 2:43PM'
dt_obj = datetime.strptime(dt_string, "%b %d %Y %I:%M%p")
print("datetime = ", dt_obj)

datetime =  2014-01-01 14:43:00

* print the current time

In [34]:
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 17:07:09

* subtract five days from current date

In [35]:
import datetime
current = datetime.datetime.now()
five_days = datetime.timedelta(days = 5)
five_days_ago = current - five_days
print(five_days_ago)

2021-05-28 17:07:19.913233

* convert unix timestamp string to readable date
* unix = 1284105682

In [36]:
from datetime import datetime
ts = 1284105682
dt = datetime.fromtimestamp(ts)
print(dt)

2010-09-10 02:01:22

* convert today date to Day of Year

In [38]:
day_year = datetime.now().timetuple().tm_yday
print("Today's date in Day of Year: ", day_year)

Today's date in Day of Year:  153

* get week number from today's date

In [39]:
import datetime
week_num = datetime.date(2021, 3, 2).isocalendar()[1]
print("week number from today's date: ", week_num)

week number from today's date:  9

* get days between two dates

In [40]:
date_a = datetime.date(2020,2,2)
date_b = datetime.date(2020,1,1)
difference = date_a - date_b
print(difference)

32 days, 0:00:00

* get the number of days of a given month and year

In [41]:
month = 10
year = 2016
from calendar import monthrange
print("Days in given month: ", monthrange(year, month)[1])

Days in given month:  31

* get a list of dates between two dates

In [42]:
import datetime
start_dt = datetime.date(2015, 12, 20)
end_dt = datetime.date(2016, 1, 11)
span = abs(start_dt - end_dt)
span

datetime.timedelta(days=22)

In [43]:
from datetime import date, timedelta

# generate list of days between the two dates
list_days = [start_dt + timedelta(days=x) for x in range(1,span.days)] #starting at 1 to only give days BETWEEN the start and end dates

for day in list_days:
    print(day)

2015-12-21
2015-12-22
2015-12-23
2015-12-24
2015-12-25
2015-12-26
2015-12-27
2015-12-28
2015-12-29
2015-12-30
2015-12-31
2016-01-01
2016-01-02
2016-01-03
2016-01-04
2016-01-05
2016-01-06
2016-01-07
2016-01-08
2016-01-09
2016-01-10