In [2]:
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [87]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [88]:
release_dates = pd.read_csv('data/release_dates.csv', index_col=None,
                                      parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

### Count the number of months in which movies with "Christmas" in their title tend to be released in the USA.

In [18]:
datetime_series = pd.Series(
    pd.date_range("2000-01-01", periods=3, freq="M")
)
datetime_series

0   2000-01-31
1   2000-02-29
2   2000-03-31
dtype: datetime64[ns]

In [19]:
datetime_series.dt.month

0    1
1    2
2    3
dtype: int64

In [15]:
filter_xmas = release_dates['title'].str.contains('Christmas')
release_dates[filter_xmas]['date'].dt.month.value_counts()

12    394
11    189
10     24
1      14
5      10
9       8
6       8
2       8
8       7
4       6
7       4
3       4
Name: date, dtype: int64

In [51]:
filter_xmas = release_dates['title'].str.contains('Christmas')
release_dates[filter_xmas].groupby(release_dates[filter_xmas].date.dt.month).agg('size')

date
1      14
2       8
3       4
4       6
5      10
6       8
7       4
8       7
9       8
10     24
11    189
12    394
dtype: int64

### Count the number of months in which movies with "Christmas" in their title tend to be released in Canada.

In [55]:
filter_xmas = (release_dates['title'].str.contains('Christmas')) & (release_dates['country'] == 'Canada')
release_dates[filter_xmas].groupby(release_dates[filter_xmas].date.dt.month).agg('size')

date
10    2
11    9
12    6
dtype: int64

### Count the number of months in which movies whose titles start with "The Hobbit" are released in the USA.

In [57]:
filter_hobbit = (release_dates['title'].str.startswith('The Hobbit')) & (release_dates['country'] == 'USA')
release_dates[filter_hobbit].groupby(release_dates[filter_hobbit].date.dt.month).agg('size')

date
12    3
dtype: int64

### Count day of the week on which movies with "Romance" in their title tend to be released in the USA.

In [73]:
filter_rom = (release_dates['title'].str.contains('Romance')) & (release_dates['country'] == 'USA')
release_dates[filter_rom].groupby(release_dates[filter_rom].date.dt.dayofweek).agg('count')

      title  year  country  date
date
0        21    21       21    21
1         4     4        4     4
2        11    11       11    11
3         6     6        6     6
4        18    18       18    18
5         8     8        8     8
6        32    32       32    32

In [70]:
filter_rom = (release_dates['title'].str.contains('Romance')) & (release_dates['country'] == 'USA')
release_dates[filter_rom][

                                    title  year country       date
913     100% OFF: A Recession-Era Romance  2012     USA 2012-07-04
6171                 A California Romance  1922     USA 1922-12-24
6408                     A Circus Romance  1916     USA 1916-01-24
6539                    A Crooked Romance  1917     USA 1917-09-30
6550                 A Cumberland Romance  1920     USA 1920-08-06
...                                   ...   ...     ...        ...
426324                    Up Romance Road  1918     USA 1918-06-24
437933                 When Romance Rides  1922     USA 1922-04-09
438359                Where Romance Rides  1925     USA 1925-04-28
440721                  Wild West Romance  1928     USA 1928-06-10
448635                      Young Romance  1915     USA 1915-01-21

[100 rows x 4 columns]

### Count day of the week on which movies with "Action" in their title tend to be released in the USA.

In [75]:
filter_action = (release_dates['title'].str.contains('Romance')) & (release_dates['country'] == 'USA')
release_dates[filter_action].groupby(release_dates[filter_action].date.dt.dayofweek).agg('size')

date
0    21
1     4
2    11
3     6
4    18
5     8
6    32
dtype: int64

In [76]:
filter_action = (release_dates['title'].str.contains('Romance')) & (release_dates['country'] == 'USA')
release_dates['day_of_week'] = release_dates['date'].apply(lambda x: "%d" %(x.dayofweek))

In [81]:
release_dates[filter_action].groupby('day_of_week').agg('size')

day_of_week
0    21
1     4
2    11
3     6
4    18
5     8
6    32
dtype: int64

### On which date was each Judi Dench movie from the 1990s released in the USA?

In [110]:
filter_dench = (cast['name'] == 'Judi Dench')
filter_year = (release_dates['year'].between(1990,1999)) & (release_dates['country'] == 'USA')
dench_merge = pd.merge(cast[filter_dench], release_dates[filter_year], on=['title','year'])
#release_dates[filter_xmas].groupby(release_dates[filter_xmas].date.dt.month).agg('size')
dench_merge['date']

0   1995-11-17
1   1996-12-25
2   1996-03-22
3   1997-10-03
4   1999-01-08
5   1999-05-14
6   1999-11-19
7   1997-12-19
Name: date, dtype: datetime64[ns]

### In which months do films with Judi Dench tend to be released in the USA?

In [112]:
filter_dench = (cast['name'] == 'Judi Dench')
filter_usa = (release_dates['country'] == 'USA')
dench_merge = pd.merge(cast[filter_dench], release_dates[filter_usa], on=['title','year'])
dench_merge.groupby(dench_merge.date.dt.month).agg('size')

date
1      4
2      4
3      3
4      2
5      4
6      3
7      1
8      1
9      2
10     1
11    12
12     4
dtype: int64

### In which months do films with Tom Cruise tend to be released in the USA?

In [113]:
filter_tom = (cast['name'] == 'Tom Cruise')
filter_usa = (release_dates['country'] == 'USA')
dench_merge = pd.merge(cast[filter_tom], release_dates[filter_usa], on=['title','year'])
dench_merge.groupby(dench_merge.date.dt.month).agg('size')

date
1      2
3      1
4      3
5      5
6      8
7      7
8      3
9      1
10     3
11     3
12    10
dtype: int64