# 1 - HR
 - Connect to the hr.db (stored in supporting-files directory) with sqlite3 
 - Write a query to get the names (first_name, last_name), salary, PF of all the employees (PF is calculated as 12% of salary)

Expected columns:
- first_name	
- last_name	
- salary
- PF

Notes:
- You can connect to DB from Jupyter Lab/Notebook, explore the table and try different queries
- In the variable 'SQL' store only the final query ready for validation

In [ ]:
# 1A Answer
SQL = "SELECT first_name, last_name, salary, (salary*0.12) AS PF FROM employees"

# 1B Advanced Answer
SQL = """SELECT first_name,
                last_name,
                salary, 
                0.12*salary as PF
         FROM employees"""

# 2 - HR
 - Connect to the hr.db (stored in supporting-files directory) with sqlite3 
 - Write a query to display the names (first_name, last_name) and department ID of all employees 
        in departments 3 or 10 in ascending order by department ID.


Expected columns:
- first_name	
- last_name	
- department_id

Notes:
- You can connect to DB from Jupyter Lab/Notebook, explore the table and try different queries
- In the variable 'SQL' store only the final query ready for validation

In [ ]:
# 2A Answer
SQL = "SELECT first_name, last_name, department_id \
    FROM employees \
        WHERE (department_id == 3 OR department_id == 10) \
                ORDER BY department_id ASC"
# 2B Advanced Answer
SQL = """SELECT first_name,
                last_name,
                department_id 
         FROM employees
         WHERE department_id IN (3,10) 
         ORDER BY department_id
"""

# 3 -